@using Microsoft.AspNetCore.Identity
@inject UserManager<MafiaForum.Models.User> UserManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MafiaForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MafiaForum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item">
                                    <input class="nav-link text-dark" type="submit" value="Выход" />
                                </li>
                                <li class="dropdown nav-item">
                                    <a href="#" class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Profile</li>
                                        <li class="dropdown-item"><a asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">My Profile</a></li>
                                        @if (User.IsInRole("admin"))
                                        {
                                            <li role="separator" class="divider"></li>
                                            <li class="dropdown-header">Admin</li>
                                            <li class="dropdown-item"><a asp-controller="Forum" asp-action="Create">Create Forum</a></li>
                                            <li class="dropdown-item"><a asp-controller="Users" asp-action="Index">Users</a></li>
                                            <li class="dropdown-item"><a asp-controller="Roles" asp-action="Index">Roles</a></li>
                                        }
                                    </ul>
                                    </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">@User.Identity.Name</a>
                                </li>
                            </ul>
                        </form>
                    }
                    else
                    {
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Вход</a>
                    </li>
                </ul>
                    }
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="Index">Forums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Users</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted pt-3">
        <div class="container">
            &copy; 2020 - MafiaForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
